@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: #c5eafa;
    --secondary-color: #2C666E;
    --terciary-color: #4F518C;
    --hover-button-color: #1f484d;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

form input, form label, form button{
    display: block;
    width: 60%;
    margin: 0 auto;
}

form input{
    margin-bottom: 20px;
    font-size: 18px;
    height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--terciary-color);
}

form button{
    border-radius: 10px;
    border: none;
    width: 15%;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover{
    background-color: var(--hover-button-color);
}

#result{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.container{
    max-width: 40%;
    margin: 50px auto;
    padding: 20px;
    border: 5px solid white;
    background-color: white;
    border-radius: 10px;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2.5%;
    text-align: center;
}

.success{
    background-color: rgb(132, 236, 103);
    margin: 0 auto;
    padding: 10px;
    width: 60%;
}

.error{
    background-color: rgb(255, 159, 159);
    margin: 0 auto;
    padding: 10px;
    width: 60%;
}

.title{
    text-align: center;
}
